In [3]:
import numpy as np
import pandas as pd

data = pd.read_csv(r"C:\Users\H P PANCHAL\Desktop\Data_Science\Models\model_selections-master\Purchased_Dataset.csv")

In [4]:
data.head

<bound method NDFrame.head of       User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]>

In [5]:
data.shape

(400, 5)

In [6]:
data.columns

Index(['User ID', 'Gender', 'Age', 'EstimatedSalary', 'Purchased'], dtype='object')

In [7]:
data.head(5)

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [9]:
data.isnull()

     User ID  Gender    Age  EstimatedSalary  Purchased
0      False   False  False            False      False
1      False   False  False            False      False
2      False   False  False            False      False
3      False   False  False            False      False
4      False   False  False            False      False
..       ...     ...    ...              ...        ...
395    False   False  False            False      False
396    False   False  False            False      False
397    False   False  False            False      False
398    False   False  False            False      False
399    False   False  False            False      False

[400 rows x 5 columns]

In [57]:
x=data[['Age','EstimatedSalary']]
y=data['Purchased']
import sklearn

In [33]:
sklearn

In [35]:
import sklearn

In [36]:
from sklearn.model_selection import train_test_split

In [37]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn import metrics

In [38]:
x_train, x_test , y_train, y_test =train_test_split(x,y,random_state=5)

In [39]:
knnClassifier = KNeighborsClassifier(n_neighbors=5)

In [40]:
knnClassifier.fit(x_train,y_train)

KNeighborsClassifier()

In [41]:
y_pred = knnClassifier.predict(x_test)

In [42]:
metrics.accuracy_score(y_test,y_pred)

0.77

In [47]:
x_train, x_test , y_train, y_test =train_test_split(x,y,random_state=5)

In [48]:
x_train, x_test , y_train, y_test =train_test_split(x,y,random_state=5)
knnClassifier = KNeighborsClassifier(n_neighbors=5)
knnClassifier.fit(x_train,y_train)
y_pred = knnClassifier.predict(x_test)
metrics.accuracy_score(y_test,y_pred)

0.77

In [49]:
x_train.head()

     Age  EstimatedSalary
24    46            23000
33    28            44000
396   51            23000
273   39           106000
246   35            50000

In [50]:
x_train, x_test , y_train, y_test =train_test_split(x,y,random_state=7)
knnClassifier = KNeighborsClassifier(n_neighbors=5)
knnClassifier.fit(x_train,y_train)
y_pred = knnClassifier.predict(x_test)
metrics.accuracy_score(y_test,y_pred)

0.77

In [51]:
x_train.head()

     Age  EstimatedSalary
382   44           139000
84    30            62000
115   40            57000
328   36           118000
99    28            37000

In [53]:
from sklearn.model_selection import cross_val_score
knnClassifier=KNeighborsClassifier(n_neighbors=4)
print(cross_val_score(knnClassifier,x,y,cv=10,scoring='accuracy'))

[0.725 0.9   0.9   0.9   0.8   0.7   0.775 0.775 0.75  0.7  ]

In [62]:
cross_val_score

In [63]:
from sklearn.linear_model import LogisticRegression
logreg= LogisticRegression()
print(cross_val_score(logreg,x,y,cv=10,scoring='accuracy').mean())

0.6425000000000001